@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: theme(colors[primary]);
  font-size: 11.5px;
  line-height: 18px;
}

*::selection {
  background: #F1F4EB;
}

body {
  background: theme(colors[background]);
  overflow-x: hidden;
}
